/*==================================
  Top
==================================*/
#Top main {
  margin-top: 200px;
  .sect_1{
    overflow: hidden;
    .wrapper{
      position: relative;
      padding-left: 40px;
      height: 690px;
      width: 100%;
      &::after{
        content: "";
        display: block;
        width: 100%;
        height: 175px;
        background-color: #ebe8e1;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
      }
      .container{
        max-width: unset;
        padding-right: 0;
        padding-left: 0;
        height: 100%;
        background-image: url(../images/top/section_1/top_image.png);
        background-size: cover;
        background-position: center center;
        display: flex;
        align-items: center;
        justify-content: center;
        h3{
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          img{
            &:nth-of-type(1){
              width: 523px;
              margin-bottom: 35px;
            }
            &:nth-of-type(2){
              width: 573px;
            }
          }
        }
      }
      .btn_scrolldown{
        position: absolute;
        z-index: 3;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 1px;
        height: 100px;
        background-color: rgba(255, 255, 255, 0.20);
        display: block;
        &::before{
          content: "";
          display: block;
          position: absolute;
          z-index: 4;
          top: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 1px;
          height: 20px;
          background-color: #fff;
          animation: fullheight 2s infinite;
        }

        @keyframes fullheight {
          100% { top: 100px; }
        }
      }
    }
  }

  .sect_2{
    .wrapper{
      background-image: url(../images/top/section_2/bg.png);
      background-size: cover;
      background-position: center center;
      padding-top: 120px;
      padding-bottom: 125px;
      .container{
        max-width: 1400px;
        padding-right: 40px;
        padding-left: 100px;
        .row{
          justify-content: space-between;
          .col{
            &:first-child{
              width: 68%;
              h3{
                @include Noto_Sans(500);
                font-size: 36px;
                color: #fff;
                line-height: 60px;
                margin-bottom: 45px;
                margin-top: 30px;
                br{
                  display: none;
                }
                span{
                  padding: 10px 25px;
                  background-color: #35302a;
                  span{
                    color: #bc9450;
                    padding: 0;
                    &:nth-of-type(1){
                      color: #fff;
                    }
                  }
                }
              }
              p{
                @include Noto_Sans(400);
                font-size: 16px;
                color: #333333;
                line-height: 42px;
                img{
                  display: none;
                }
              }
            }
            &:last-child{
              width: 30%;
            }
          }
        }
      }
    }
  }
}
