/* base
==================================*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
li,
ol,
dl,
dd,
tr {
  font-size: 16px;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
.pc {
  display: none !important;
}

a {
  color: $font-color;
  text-decoration: none;
  &:visited {
    color: $font-color;
  }
  &:active {
    color: $font-color;
  }
}

/* main
==================================*/
main {
  display: block; /*IE対策*/
}

/* header
==================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  width: 100%;
  height: 50px;
  transition: .5s ease;
  &.scroll{
  }
  .header_inner{
    position: relative;
    height: 100%;
    padding-top: 5px;
    &.open{
      z-index: 1200;
      &::before{
        background-color: transparent;
      }
      &.row{
        .left{
          &::after{
            background-color: transparent;
            border-right: 0;
          }
          span{
            opacity: 0;
          }
        }
        .right{
          ul{
            display: none;
          }
          .menu{
            transition: 100ms ease;
            transition-delay: .3s;
            background-color: transparent;
            span{
              transition-delay: .35s;
            }
          }
        }
      }
    }
    &::before{
      content: "";
      display: block;
      width: 100%;
      height: 5px;
      background-color: #c7000b;
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
    }
    &.row{
      justify-content: space-between;
      .left{
        position: relative;
        width: 140px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 20px;
        &::after{
          content: "";
          transition: .5s ease;
          display: block;
          width: 100%;
          height: 68px;
          background-color: #fff;
          border-right: 1px solid #f2f2f2;
          position: absolute;
          top: -12px;
          left: 0;
          z-index: -1;
        }
        .logo{
          text-align: left;
          a{
            display: flex;
            align-items: center;
            span{
              display: none;
            }
            img{
              transition: .5s ease;
              width: 102px;
            }
          }
        }
      }
      .right{
        width: calc(100% - 140px);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        ul{
          display: none;
        }
        .menu {
          position: relative;
          background: #c7000b;
          width: 60px;
          height: 100%;
          padding-top: 12px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          span {
            display: inline-block;
            background: #fff;
            width: 25px;
            height: 2px;
            transition: 0.3s;
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            &.line-t {
              position: relative;
              bottom: 0;
              &.show {
                bottom: -3px;
                transform: rotate(-45deg);
              }
            }
            &.line-b {
              position: relative;
              top: 5px;
              &.show {
                top: 2px;
                transform: rotate(45deg);
              }
            }
          }
          p {
            // color: transparent;
            padding: 20px 0 0;
            font-size: 10px;
            text-align: center;
          }
        }
      }
    }
  }

  .big_menu_cont{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .5s ease;
    transform: translateX(-100%);
    &.open{
      transform: translateX(0);
      .row{
        .col{
          &:last-child{
            transform: translateX(0);
          }
        }
      }
    }
    .row{
      height: 100%;
      display: block;
      background-color: #c7000b;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      .col{
        &:first-child{
          width: 100%;
          height: 140px;
          background-image: url(../images/common/big_menu_bg-sp.png);
          background-size: cover;
          background-position: center center;
        }
        &:last-child{
          transition: .5s ease;
          transition-delay: .2s;
          transform: translateX(-100%);
          width: 100%;
          position: relative;
          background-color: #c7000b;
          z-index: 1;
          .big_menu{
            width: 100%;
            padding-top: 45px;
            padding-bottom: 50px;
            li{
              width: 100%;
              text-align: left;
              cursor: pointer;
              a{
                position: relative;
                display: block;
                @include Noto_Sans(400);
                font-size: 16px;
                color: #fff;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 20px;
                transition: .5s ease;
                &:hover{
                  opacity: .7;
                }
                img{
                  width: 11px;
                  position: relative;
                  top: -5px;
                  transform: rotate(90deg);
                  margin-left: 10px;
                  &.active{
                    top:0;
                    transform: translate(0, -50%) rotate(270deg);
                  }
                }
              }
              .big_sub_menu{
                position: relative;
                width: 100%;
                background-color: #a60009;
                box-sizing: border-box;
                padding-left: 40px;
                padding-right: 40px;
                padding-top: 25px;
                padding-bottom: 15px;
                margin-bottom: 20px;
                .left{
                  float: unset;
                  width: 100%;
                  position: relative;
                }
                .right{
                  float: unset;
                  width: 100%;
                  position: relative;
                }
                nav{
                  margin-bottom: 10px;
                  p{
                    text-align: left;
                    @include Noto_Sans(400);
                    color: #fff;
                    font-size: 16px;
                    padding-bottom: 5px;
                    border-bottom: 1px solid #ee1723;
                    margin-bottom: 18px;
                    span{
                      color: #e6aa4c;
                    }
                  }
                  ul{
                    &:not(:last-child){
                      padding: 0 0 0 25px;
                    }
                    li{
                      text-align: left;
                      &:not(:last-child){
                        margin-bottom: 0;
                      }
                      &:nth-of-type(3){
                        padding-top: 0;
                      }
                      a{
                        padding-bottom: 20px;
                      }
                      
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* footer
==================================*/
footer {
  // background: #000;
  .footer_inner{
    .nav_cont{
      position: relative;
      background-image: url(../images/top/sp/section_2/bg.png);
      background-size: cover;
      background-position: center center;
      padding-bottom: 45px;
      padding-top: 45px;
      &::before{
        content: "";
        display: block;
        width: 65%;
        height: 5px;
        background-color: #c7000b;
        position: absolute;
        top: -5px;
        right: 0;
      }
      .container{
        .row{
          .col{
            // position: relative;
            .footer_menu{
              width: 100%;
              li{
                text-align: left;
                cursor: pointer;
                &:not(:last-child){
                  margin-bottom: 25px;
                }
                a{
                  @include Noto_Sans(400);
                  font-size: 16px;
                  color: #333333;
                  position: relative;
                  transition: .5s ease;
                  &:hover{
                    opacity: .7;
                  }
                  img{
                    width: 11px;
                    position: absolute;
                    top: 50%;
                    right: -30px;
                    transform: translate(0, -50%) rotate(90deg);
                    transition: .5s ease;
                    &.active{
                      transform: translate(0, -50%) rotate(270deg);
                    }
                  }
                }
                .sub_menu{
                  width: 100%;
                  display: block;
                  nav{
                    width: 100%;
                    padding-left: 20px;
                    @media only screen and (max-width: 600px) {
                      width: 100%;
                    }
                    &:nth-child(-n+2){
                      margin-top: 30px;
                      @media only screen and (max-width: 600px) {
                        margin-top: 0;
                      }
                    }
                    &:first-child{
                      @media only screen and (max-width: 600px) {
                        margin-top: 30px;
                      }
                    }
                    &:not(:last-child){
                      margin-bottom: 30px
                    }
                    p{
                      @include Noto_Sans(400);
                      font-size: 16px;
                      color: #333333;
                      text-align: left;
                      padding-bottom: 5px;
                      border-bottom: 1px solid #c9c5bd;
                      margin-bottom: 20px;
                    }
                    ul{
                      width: 100%;
                      padding-left: 20px;
                      li{
                        text-align: left;
                        &:not(:last-child){
                          margin-bottom: 20px;
                        }
                        a{
                          font-size: 16px;
                          color: #737373;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .footer_details{
      padding-top: 45px;
      padding-bottom: 30px;
      .img_list{
        &.row{
          justify-content: center;
          img{
            margin: 7.5px 0 0;
          }
        }
        &:nth-of-type(1){
          &.row{
            justify-content: space-between;
            picture{
              width: 49%;
              img{
                // width: 100%;
              }
            }
          }
        }
      }
      .company{
        margin-top: 30px;
        margin-bottom: 17px;
        text-align: center;
        span{
          @include Noto_Sans(400);
          font-size: 16px;
          color: #fff;
          padding: 5px 75px;
          background-color: #999999;
          border-radius: 50px;
        }
      }
      p{
        text-align: center;
        &:nth-of-type(2){
          @include Noto_Sans(500);
          font-size: 16px;
          color: #333333;
          margin-top: 25px;
          margin-bottom: 15px;
        }
        &:nth-of-type(3){
          @include Noto_Sans(400);
          font-size: 15px;
          color: #333333;
          line-height: 22.5px;
          margin-top: 20px;
        }
      }
    }
  
    .copy{
      background-color: #35302a;
      padding: 23px 0 23px;
      display: flex;
      justify-content: center;
      align-items: center;
      small{
        @include Noto_Sans(400);
        font-size: 12px;
        color: #fff;
        text-align: center;
        img{
          width: 138px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

#pageTop {
  background-color: #35302a;
  width: 40px;
  height: 35px;
  opacity: 0;
  position: fixed;
  right: 0;
  bottom: 77px;
  z-index: 888;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  &.active {
    opacity: 1;
  }
  a {
    display: block;
    text-align: center;
    width: 50px;
    margin-top: -7px;
    &:hover {
      opacity: 0.7;
    }

    img{
      width: 13px;
    }
  }
}